body{
    background-color: beige;
}

p{
    color: #b60202;
}

input{
    background-color: brown;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

::placeholder{
    color: white;
}

h1{
    color: brown;
}

.button{
    color: whitesmoke;
    background-color: brown;
    width: 170px;
    height: 50px;
}